@import "variables";

$page_classes: (jam-team-list);

@each $class in $page_classes {
  .#{$class} {
    .team-list-cards {
      margin-top: 20px;
    }

    .team-links {
      text-align: center;
    }

    .team-subtitle {
      margin-bottom: 0;
    }

    .team-card-own {
      border: solid 1px $primary_background;
    }

    .team-member-avatars {
      padding: 10px;
      text-align: center;

      .team-member-avatar-link {
        margin: 0 5px;

        .team-member-avatar {
          height: 32px;
        }
      }

      .team-member-avatar-link:hover,
      .team-member-avatar-link:active {
        text-decoration: none;
      }
    }
  }
}
