{% extends "main/base.html" %}
{% block title %}Code Jams | Home{% endblock %}
{% block og_title %}Code Jams | Home{% endblock %}
{% block page_classes %}uses-rst{% endblock %}
{% block content %}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <article class="uk-article">
            <div uk-grid class="uk-grid-large">
                <div class="uk-width-expand">
                    <h1 class="uk-article-title">
                        Code Jams
                    </h1>
                    <p class="uk-article-meta">
                        We jammin'
                    </p>

                    <p>
                        Every three months or so, we aim to host a server-wide code jam, suitable for all members of the server. In
                        these, we announce a theme and date in advance, and users may sign up via a link provided in the
                        announcements channel on the server. Once the sign-up period is over, users are grouped into
                        teams. On the day of the code jam, we announce a task - each team will then work on a solution
                        to this task.
                    </p>
                    <p>
                        Once the code jam is over, our staff team will review and test each submission. Once that's done,
                        a winner will be decided!
                    </p>
                    <p>
                        If you'd like to join one of our code jams, feel free to ask a member of staff about the next one.
                    </p>
                </div>

                <figure class="jetbrains uk-width-1-4@l uk-width-1-4@m uk-width-1-1@s">
                    <h1 class="uk-article-title">
                        Sponsors
                    </h1>
                    <p class="uk-article-meta">
                        Our generous benefactors
                    </p>

                    <a href="https://jetbrains.com">
                        <img src="{{ static_file("images/jetbrains.png") }}" class="jam-image"/>
                    </a>
                </figure>
            </div>

            <br />
            <a href="{{ url_for("wiki.page", page="jams") }}" class="uk-button uk-button-secondary">
                <i class="uk-icon fa-fw far fa-book"></i> &nbsp;Wiki
            </a>
            <a href="{{ url_for("wiki.page", page="jams") }}" class="uk-button uk-button-secondary">
                <i class="uk-icon fa-fw far fa-list"></i> &nbsp;Rules &amp; Guidelines
            </a>
            <a href="{{ url_for("main.jams.info") }}" class="uk-button uk-button-secondary">
                <i class="uk-icon fa-fw far fa-code-branch"></i> &nbsp;Git Primer
            </a>

            {% if jams %}
                {% for jam in jams %}
                    <h1 class="uk-article-title uk-heading-divider">
                        Code Jam {{ jam.number }}: {{ jam.title }}
                        <span class="uk-float-right">
                            {% if jam.state == "announced" %}
                                <a class="uk-button uk-button-primary" href="{{ url_for("main.jams.join", jam=jam.number) }}">
                                    <i class="uk-icon fa-fw far fa-plus"></i> &nbsp;Join
                                </a>
                            {% else %}
                                {% if jam.teams and jam.teams | length > 0 %}
                                    <a class="uk-button uk-button-primary" href="{{ url_for('main.jams.jam_team_list', jam_id=jam.number) }}">
                                        <i class="uk-icon fa-fw far fa-users"></i> &nbsp;Teams
                                    </a>
                                {% endif %}
                                <a class="uk-button uk-button-default" target="_blank" href="{{ jam.repo }}">
                                    <i class="uk-icon fa-fw fab fa-gitlab"></i>
                                </a>
                            {% endif %}
                        </span>
                        <p class="uk-article-meta">
                            State: {{ jam.state.title() }}
                        </p>
                    </h1>

                    <p>
                        {% if jam.participants %}
                            <span class="uk-label uk-label">
                                Participants: {{ jam.participants | length }}
                            </span>
                        {% endif %}
                        <span class="uk-label uk-label-success">
                            {{ format_datetime(jam.date_start) }} UTC
                        </span>

                        <span class="date-separator">
                            <i class="uk-icon fa-fw far fa-arrow-right" ></i>
                        </span>

                        <span class="uk-label uk-label-danger">
                            {{ format_datetime(jam.date_end) }} UTC
                        </span>

                        {% if jam.state in ["running", "judging", "finished"] %}
                            <span class="uk-label uk-align-right">
                            Theme: {{ jam.theme }}
                            </span>
                        {% endif %}
                    <p>

                    </p>

                    {{ jam.info_html | safe }}

                    {% if jam.state in ["running", "judging", "finished"] %}
                    <br />

                    {{ jam.task_html | safe }}
                    {% endif %}

                    {% if jam.state == "finished" %}
                    <br />

                    {{ jam.end_html | safe }}
                    {% endif %}

                {% endfor %}
            {% else %}
                <p>
                    Looking for our code jams? There's nothing here just yet!
                </p>
            {% endif %}
        </article>
    </div>
</div>
{% endblock %}
